*{
	margin: 0px;
	padding: 0px;
}
nav{
	background-color: #18a6f2;
	height: 80px;
	width: 100%;
	line-height: 80px;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
}
nav ul li:hover{
	background: #66aced;
}
nav a{
float: left;
margin-right: 20px;
margin-left: 20px;
	font-size: 30px;
	text-decoration: none;
	color: white;
}
h1{
	padding-top: 10px;
	font-size: 50px;
	color:#3872e8;
	text-align: center;
}
main{
	height: 550px;
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 20px;
	display: grid;
	grid-template-rows: repeat(3,260px);
	grid-template-columns: repeat(3,1fr);
	grid-row-gap: 20px;
	grid-column-gap: 20px;
}
main img{
	margin-top: 10px;
	margin-left: 110px;
	height: 200px;
	width: 200px;
}
main p{
	margin-top: 3px;
	margin-left: 120px;
	color: grey;
	font-size: 30px;
}
main .s1{
border: 1px solid grey;
border-radius: 10px;
}
main .s2{
border: 1px solid grey;
border-radius: 10px;
}
main .s3{
border: 1px solid grey;
border-radius: 10px;
}
main .s4{
border: 1px solid grey;
border-radius: 10px;
}
main .s5{
border: 1px solid grey;
border-radius: 10px;
}
main .s6{
border: 1px solid grey;
border-radius: 10px;
}
