*{
	margin: 0px;
	padding: 0px;
}
h1{
	padding-top: 30px;
	font-size: 50px;
	color: blue;
	text-align: center;
}
main{
	margin-top: 40px;
	margin-left: 400px;
	display: grid;
	grid-template-rows: repeat(3, 500px);
	grid-template-columns: repeat(3,500px);
	grid-row-gap: 50px;
	grid-column-gap: 100px;
}
main img{
	margin-top: 10px;
	margin-left: 60px;
	height: 370px;
	width: 370px;
}
main p{
	margin-left: 110px;
	color: grey;
	font-size: 30px;
}
main .s1{
	background: lightblue;
}
main .s2{
	background: lightblue;
}
main .s3{
	background: lightblue;
}
main .s4{
	background: lightblue;
}
main .s5{
	background: lightblue;
}
main .s6{
	background: lightblue;
}