*{
	margin: 0px;
	list-style: none;
	padding: 0px;
}
body{
	background: grey;
}
nav{
	background-color: #18a6f2;
	height: 80px;
	width: 100%;
	line-height: 80px;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
}
nav ul li:hover{
	background: #66aced;
}
nav a{
float: left;
margin-right: 20px;
margin-left: 20px;
	font-size: 30px;
	text-decoration: none;
	color: white;
}
h1{
	font-family: sans-serif;
	font-size: 40px;
}
.skills{
	width: 500px;
	margin: 60px auto;
	color: white;
	font-size: 20px;
}
.skills li{
	margin: 20px 0;
	margin-top: 30px;
}
.bar{
	background: #353b48;
	display: block;
	height: 2px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	overflow: hiddden;
	box-shadow: 0 0 10px #2187e7b3;
}
.bar span{
	height: 2px;
	float: left;
	background: #2187e7;
}
.html{
	width: 80%;
}
.css{
	width: 65%;
}
.c{
	width: 40%;
}
.c_programming{
	width: 60%;
}
.javascript{
	width: 10%;
}